body {
  background-color: #7885a9;
  color: #fff;
  height: 100vh;
}

#tela_edicao{
  display: none;
}

#valor_personalizado{
  display: none;
}

#upload_imagem.dragged-over{
  opacity: 0.5;
}

#img_edicao{
  width: 100%;
  height: 100%;
}

.bloco {
  height: 180px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.imagem {
  height: 100%;
}